@import url(../../css/variables.css);

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*navSuperir*/
.Superir {
    background-color: blue;
    height: 2em;
    width: 100vw;
}

.Inferior {
    display: flex;
    flex-grow: 1;
}

/*navDerecha*/
.navDerecha {
    background-color: red;
    display: flex;
}

/*main*/
main {
    background-color: hotpink;
    flex-grow: 1;
}