<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mony Monty</title>
    <link rel="stylesheet" href="../Plataforma/css/mainPlataforma.css">
    <script type="module" src="../Plataforma/js/mainPlataforma.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <articulo class="Superir">
        <div class="Logo">
            <img src="/public/img/logoSinFondoSoloNombre.png" alt="logo MonyMonty">
                <!-- <box-icon type='solid' name='circle'></box-icon> -->
        </div>
        <nav class="navSuperior">
            <div>
                <a href="#Courses">Courses</a>
            </div>
            <div>
                <a href="#Pricing">Pricing</a>
            </div>
            <div>
                <a href="#Leaderboard">Leaderboard</a>
            </div>
            <div>
                <a href="#Community">Community</a>
            </div>
            <div>
                <a href="#Lore">Lore</a>
            </div>
            <div>
                <a href="#Youtube">Youtube</a>
            </div>
            <div>
                <a href="#Podcast">Podcast</a>
            </div>
            <div>
                <a href="#Blog">Blog</a>
            </div>
        </nav>
        <div><a href="#">Inicio de secion</a></div>
    </articulo>
    <articulo class="Inferior">
        <nav class="navDerecha">
            <div class="usuario">
                <box-icon name='user'></box-icon>
            </div>
            <box-icon name='dots-horizontal-rounded'></box-icon>
            <div class=" interacion">
                <div>
                    <box-icon name='bell'></box-icon>
                </div>
                <div>
                    <box-icon type='solid' name='dashboard'></box-icon>
                </div>
                <div>
                    <box-icon name='calendar' ></box-icon>
                </div>

            </div>
            <box-icon name='dots-horizontal-rounded'></box-icon>
            <div class="logOut">
                <box-icon name='log-out'></box-icon>
            </div>
        </nav>
        <main>
            main
        </main>
    </articulo>

</body>

</html>