<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mony Monty</title>
    <link rel="stylesheet" href="../Plataforma/css/mainPlataforma.css">
    <script type="module" src="../Plataforma/js/mainPlataforma.js"></script>
</head>

<body>
    <articulo class="Superir">
        <nav class="navSuperir">
            navSuperir
        </nav>
    </articulo>
    <articulo class="Inferior">
        <nav class="navDerecha">
            Hola
        </nav>
        <main>
            main
        </main>
    </articulo>

</body>

</html>